*~
**.pyc
**.o
**.so
**/build
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/install_manifest.txt
.idea

params/*
results/*

*.res
**.bak
vizdoom
vizdoom.ini
wads
config
show_filters_rgb.py
